.container{
  width: 100%;
  }
.card{
 margin-top:1rem;
 text-align: center;
 outline: none;
 width: 100%;
 background: initial;
 color: white;
 border: solid 1px;
}
.cardT{
  margin-top:1rem;
  text-align: center;
  outline: none;
  width: 100%;
  background: initial;
  color: white;
}
.formI{
  background: white;
}
.card-title{
  text-transform: uppercase;
}
.inicio{
  align-self: flex-end;
  margin-top: 1rem;
}
.col-md-6{
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top:0px ;
}
.col-md-4{
  display: initial;
  margin-left: auto;
  margin-right: auto;
  
}
.col-lg{
      padding: 0px !important;
    margin-top: 0px;
}

.mt-5, .my-5 {
  margin-top: 1rem!important;
}
table{
  margin-top:0rem;
  align-self: center;
  text-align: center;
  width: 100%;
margin-right: auto;
margin-left: auto;
background: initial;
color: white !important;
  }

.bg-danger{
  background: red;
  text-align: center;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
input{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
label{
  text-transform: uppercase;
}
::placeholder{
  text-transform: uppercase;
}

button{
  margin-left:30%;
}
.btn-primary{
  margin-left: auto;
  margin-right: auto;
}
.btn-danger{
  margin-right:auto;
  margin-left:auto;
  text-align: center;
}
td:hover{
  background-color: rgb(73, 71, 71);
  font-size: 15px;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 15px;
  padding-right: 0px;
  text-align: center;
width: 5%;
color: white !important;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: white;
  border: solid 1px;
}
th.mat-header-cell {
  text-align: center;
  text-transform: uppercase;
  border: solid 1px;
}
th{
  background-color: rgb(0, 0, 0);
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 4px;
text-align: center;
color: white !important;
}
td.mat-cell, td.mat-footer-cell{
  padding-left:10px;
  padding-right: 8px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center !important;
  color: white !important;
}
